.FooterContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-top: 10%;
    background-color: #08012C;
    color: rgb(255, 255, 255);
}

.Contact {
    width: 15%;
}

.logo {
    height: 20%;
}

.logo img {
    width: 5%;
}

.logo span {
    margin-left: 2px;
}

.SpanFlex {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.icon {
    font-size: 1.2rem;
    margin-right: 10px;
    color: blueviolet;
}

@media screen and (min-width:0px) and (max-width:768px) {
    .FooterContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin-top: 10%;
        background-color: rgb(8, 1, 44);
        color: rgb(255, 255, 255);
    }

    .Contact {
        width: 50%;
    }
}