.Container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.LeftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 5%;
    flex-grow: 1;
    padding-left: 1rem;
}

.MiddleSide {
    display: flex;
    justify-content: center;
    flex-grow: 3;
}

.RightSide {
    width: 10%;
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.MiddleSide img {
    width: 30rem;
    position: relative;
    filter: sepia(70%);
    z-index: 9999;
}

.BlueCircle {
    background-color: rgb(8, 1, 44);
    width: 30rem;
    height: 30rem;
    position: absolute;
    border-radius: 50%;
    filter: sepia(70%);

}

@media screen and (min-width:0px) and (max-width:768px) {
    .Container {
        display: flex;
        flex-direction: column;
    }

    .LeftSide {
        width: 100%;
        flex-grow: 0;
        padding-left: 0px;
        text-align: center;
    }

    .MiddleSide {
        display: flex;
        justify-content: center;
        flex-grow: 0;

    }

    .RightSide {

        width: 100%;
        flex-grow: 0;
        text-align: center;
    }

    .MiddleSide img {
        width: 15rem;
        position: relative;
        filter: sepia(70%);
        z-index: 9999;
        bottom: 20px;
    }

    .BlueCircle {
        background-color: rgb(33, 0, 197);
        width: 15rem;
        height: 15rem;
        position: absolute;
        border-radius: 50%;
        filter: sepia(70%);
    }
}